@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    margin: 0;
}

.main{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.main .left{
    background-color: whitesmoke;
}

.main .right{
    background-color: black;
}


.aLink{
    color: white;
    text-decoration: none;
}

.sneakers-text .text a{
    color: white;
    text-decoration: none;

}




/* ################################## SNEA TITLE START ################################## */

.snea-title{
    width: fit-content;
}

.title-text-black {
    font-size: 4.5em;
    color: black;
    font-family: 'Anton', sans-serif; 
    text-decoration: underline black;
}

.end{
    display: flex;
    justify-content: flex-end;
}

/* ################################## SNEA TITLE END ################################## */



/* ################################## KERS TITLE START ################################## */

.kers-title {
    margin-top: 24px; /*Ajusta según sea necesario para centrar verticalmente */
    width: fit-content;
}

.title-text-white {
    font-size: 4.5em;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    text-decoration: underline whitesmoke; 
}

.start{
    display: flex;
    justify-content: flex-start;
}

/* ################################## KERS TITLE END ################################## */



/* ################################## SNEAKERS LINK START ################################## */
.sneakers-text {
    text-align: left;
    margin-top: 3%; 
    color: white;
    font-size: 3em;
    margin-left: 100px;
    font-family: 'Anton', sans-serif;
    /* margin-bottom: 10%; */
    text-decoration: underline white;
}

.sneakers-text .text .one {
    animation: fadeInRightBig; 
    animation-duration: 0.8s;
    color: white;
}


.sneakers-text .text .two {
    animation: fadeInRightBig; 
    animation-duration: 1.1s;
}


.sneakers-text .text .three {
    animation: fadeInRightBig; 
    animation-duration: 1.4s;
}


.sneakers-text .text .four {
    animation: fadeInRightBig; 
    animation-duration: 1.7s;
}

.sneakers-text .text .five {
    animation: fadeInRightBig; 
    animation-duration: 2s;
}

.sneakers-text .text .six {
    animation: fadeInRightBig; 
    animation-duration: 2.3s;
}

.L{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 9%;
    right: 2%;
    text-decoration: underline whitesmoke;
}

.R{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 4%;
    right: 2%;
    text-decoration: underline whitesmoke;
}

.G{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 24%;
    right: 2%;
    text-decoration: underline whitesmoke;
}

.V{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 14%;
    right: 2%;
    text-decoration: underline whitesmoke;
}

.Y{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 19%;
    right: 2%;
    text-decoration: underline whitesmoke;
}

.Y a {
    color: white;
    text-decoration: none;
}

.R a{
    color: white;
    text-decoration: none;
}

.V a{
    color: white;
    text-decoration: none;
}

.L a{
    color: white;
    text-decoration: none;
}

.G a{
    color: white;
    text-decoration: none;
}

.footer{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    top: 92%;
    left: 2%;
    position: absolute;
    overflow: hidden;
}



/* NAVBAR */

.slide{
    margin-left: 35px;
    position: fixed;
    height: 320px;
    width: 80px;
    background-color: black;
    transition: 0.5s ease;
    transform: translateX(-125px);
    /* PARA HACER QUE VENGA DESDE ARRIBA SE CAMBIA LA X POR Y translateX(-400px) en este caso porque el height del item es de 380 */
    border-radius: 20px;
    box-shadow:  -5px 5px 5px #555252,
             5px -5px 5px #ffffff;
}


ul li{
    list-style: none;
}


.inputLabel{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toogle{
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 60px;
    cursor: pointer;
    background-color: black;
    width: max-content;
    height: 33px;
    border-radius: 3px;
}

input:checked ~ .slide{
    transform: translateX(0); 
    /* PARA HACER QUE VENGA DESDE ARRIBA SE CAMBIA LA X POR Y */
}

input:checked ~ .toogle svg{
    background-color: whitesmoke;
    height: 33px;
    border-radius: 3px;
    fill: black;
    
}

.icon1{
    position: absolute;
    top: 75px;
    left: 25px;
}

.icon2{
    position: absolute;
    top: 125px;
    left: 25px;
}

.icon3{
    position: absolute;
    top: 170px;
    left: 25px;
}

.icon4{
    position: absolute;
    top: 220px;
    left: 25px;
}

.icon5{
    position: absolute;
    top: 265px;
    left: 25px;
}



.hola{
    position: absolute;
    top: 190%;

}

.cart-count{
    position: absolute;
    display: flex;
    top: 20px;
    left: 15px;
    color: white;
    width: 22px;
    height: 22px;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

/* NAVBAR END */

*/ RockoRich */






